input[type="text"] {
    padding: 15px;
    width: 220px;
    font-size: 30px;
    background: white;
}

input[type="button"] {
    padding: 0px;
    font-size: 23px;
    width: 60px;
    height: 60px;
    background-color: dodgerblue;
    border-radius: 3px;
    color: white;
}

input[type="button"]:hover {
    background-color: pink;
}

table {
    background-color: grey;
    padding: 10px;
    border-radius: 5px;
    margin-top: 70px;
    box-shadow: 3px 4px 4px black;

}